@model LaBlisteria.Models.ProductoTipo

@{
    ViewBag.Title = "Eliminar  categoria";
}

<h2>Eliminar categoria</h2>

<h3>¿Estas seguro que deseas eliminar esta categoria?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductoTipoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoTipoNombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
